html {
    margin: 0;
    padding: 0;
    clear: both;
    height: 100vh;
    width: 100vw;
}

body{
    font-family: 'Poppins', sans-serif;
    background: white url(img/background.png) no-repeat center center;
    background-size: cover;
}

h2{
    font-size: 1rem;
    padding: 10px 20px;
    color: #575ed8;
}

#chatlite-chat{
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
    box-shadow: 1px 3px 5px #222;
    border-radius: 4px;
    background: #f9f9f9;
}

#chat-window{
    height: 400px;
    overflow-y: auto;
    background: #f9f9f9;
}

#output {
    padding: 20px;
}

#output div.message {
    font-size: .9rem;
    margin-bottom: 10px;
    color: #555;
}

#output p {
    margin: 0;
    margin-bottom: -5px;
}

#output small {
    font-size: .7rem;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input, textarea {
    padding: 10px 20px;
    /* box-sizing: border-box; */
    background: #fff;
    border: 0;
    width: 100%;
    background: #fff;
    font-family: Nunito;
    font-size: 1rem;
    max-width: 100%;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 1rem;
    border: 0;
    padding: 12px 0;
    width: 100%;
    font-weight: 700;
    border-radius: 0 0 2px 2px;
}
